<mat-toolbar>
    <mat-toolbar-row class="flex-box">
      <img class="logo" src="../../../assets/img/countries-icon.svg">
      
      <a routerLink="/home" class="padding-5 padding-right-10" routerLinkActive="active-page" style="color: inherit">
        <button class="margin-5" mat-button>Home</button>
      </a>

      <a routerLink="/favorites"  routerLinkActive="active-page" style="color: inherit">
        <button class="margin-5" mat-button>Favorites</button>
      </a>
  
    </mat-toolbar-row>
  </mat-toolbar>
  